[submodule "janus/closetag"]
  path = janus/closetag
  url = https://github.com/docunext/closetag.vim.git
[submodule "janus/deletetrailingwhitespace"]
  path = janus/deletetrailingwhitespace
  url = https://github.com/vim-scripts/DeleteTrailingWhitespace.git
[submodule "janus/html5syntax"]
  path = janus/html5syntax
  url = https://github.com/othree/html5-syntax.vim.git
[submodule "janus/html_annoyance"]
	path = janus/html_annoyance
	url = https://github.com/vim-scripts/html_annoyance.git
[submodule "janus/css3-mod"]
	path = janus/css3-mod
	url = https://github.com/vim-scripts/css3-mod.git
