[submodule "janus/closetag"]
  path = janus/closetag
  url = https://github.com/docunext/closetag.vim.git
[submodule "janus/deletetrailingwhitespace"]
  path = janus/deletetrailingwhitespace
  url = https://github.com/vim-scripts/DeleteTrailingWhitespace.git
[submodule "janus/html5syntax"]
  path = janus/html5syntax
  url = https://github.com/othree/html5-syntax.vim.git
